<header class="row titleWrap"> <!-- Page title & description -->
	<h1 class="col-xs-12 col-lg-8 col-lg-offset-2">
		<span class="pageTitle">{{heading}}</span>&nbsp;<span class="pageDescription">{{description}}</span>
<!--		
		<div class="stageNavWrap pull-right">
			<button class="pull-left" ng-show="tourneyStage != 'groupStage'" ng-click="stageNav('Back')">Back</button>
			<button class="pull-right" ng-show="stageNavCheck()" ng-click="stageNav('Next')">Next</button>
		</div>
-->
	</h1>
</header>
<section class="row">
	<article class="overlayWrap" ng-show="showOverlay">
	<!--<article class="overlayWrap">-->
		<div class="btnDel pointer pull-right" ng-click="exitSingle()"></div>
		<aside class="overlay">
			<section class="row">
				<div class="col-xs-12">
					<h3>Bracket Name: {{single.name}}</h3>
				</div>
			</section>
			<section class="row text-center">
				<div class="col-xs-4">
					<h4>Runner-up:</h4>
					<img class="gFlag" alt="{{single.finals.SECOND.name}}" src="../img/flags/{{single.finals.SECOND.code}}.png" />
					{{single.finals.SECOND.name}}
				</div>
				<div class="col-xs-4">
					<h3>Champions: {{single.finals.CHAMPS.name}}</h3>
					<img class="gFlag" alt="{{single.finals.CHAMPS.name}}" src="../img/flags/{{single.finals.CHAMPS.code}}.png" />
					{{single.finals.CHAMPS.name}}
				</div>
				<div class="col-xs-4">
					<h4>Third Place:</h4>
				</div>
			</section>
		</aside>
	</article>
	<article class="col-xs-12 col-lg-8 col-lg-offset-2">

		<table class="col-xs-12">
			<thead>
				<tr>
					<th>Bracket Name</th>
					<th>Champions</th>
					<th>Runner-up</th>
					<th>Date Added</th>
				</tr>
			</thead>
			<tbody>
				<!-- ng-repeat the rows -->
				<tr ng-repeat="bracket in brackets">
					<td><span class="pointer" ng-click="viewSingle(bracket)">{{bracket.name}}</span></td>
					<td>{{bracket.finals.CHAMPS.name}}</td>
					<td>{{bracket.finals.SECOND.name}}</td>
					<td>will add later</td>
				</tr>
			</tbody>
		</table>
	</article>

</section>
