<section class="row">
	<h1><span class="pageTitle">{{ heading }}</span>&nbsp;<span class="pageDescription">{{ description }}</span></h1>
</section>

<section ng-show="tourneyRound == 'groupStage'" class="row">
	<div class="col-xs-1">
		<ul>
			<!-- list groups here -->
			<li class="text-center pointer" ng-repeat="group in groups" id="{{ group }}" ng-click="selectGroup(group);groupLetter=(group)">
				<h2>{{ group }}</h2>
			</li>
		</ul>	
	</div>
	<div class="col-xs-5 col-xs-offset-1">
		<!-- list group nations here -->
		<ul>
			<li ng-repeat="team in teams" id="{{ team.code }}" ng-click="groupWinner(team)">
				<h2 ng-click="">
					<img src="../img/flags/{{team.code}}.png" />{{ team.name }}
				</h2>	
			</li>
		</ul>
	</div>
	<div class="col-xs-3 col-xs-offset-1">
		<!-- list winners here -->
		<h2>Group {{ groupLetter }} Winners</h3>
		<ul>
			<!-- <li ng-show="!gfirst">First Place</li> -->
			<li><h3>{{ gfirst }}</h3></li>
			<li><h3>{{ gsecond }}</h3></li>
			<li ng-show="gsecond != 'Second Place'" ng-click="clearWinners(groupLetter)"><h4>Clear</h4></li>
		</ul>
		<div ng-show="koStageCheck()" ng-click="gotoKOStage()">Next Stage >></div>
	</div> 
</section>
<section ng-show="tourneyRound == 'koStage'" class="row">
	<div class="bracketWrap pull-left text-center" ng-show="bracketLeft">
		<ul class="roundDisplayWrap"> <!-- show the rounds up top -->
			<li class="roundDisplayItem" ng-repeat="round in rounds">{{round}}</li>
		</ul>
		<div class="roundFinalsWrap"> <!-- top left -->
			<div class="winnersLine finals pull-right bracketBottomLine">
				<span class="teamDisplay" ng-click="selectWinner('FINALS1','CHAMP')">{{picks.FINALS1.name}}</span>
			</div>
			<div class="roundSemiWrap">
				<div class="winnersLine semifinals pull-right bracketBottomLine">
					<span class="teamDisplay" ng-click="selectWinner('SF1','FINALS1')">{{picks.SF1.name}}</span>
				</div>
				<div class="roundQuarterWrap">
					<div class="winnersLine quarterfinals pull-right bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF1','SF1')">{{picks.QF1.name}}</span>
					</div>
					<div class="roundSweetWrap">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('A1','QF1')">{{picks.A1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap bracketRightLine">
					</div>
				</div>
				<div class="roundQuarterWrap bracketRightLine">
					<div class="winnersLine quarterfinals pull-right"></div>
					<div class="roundSweetWrap bracketRightLine">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('B2','QF1')">{{picks.B2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap"></div>
				</div>
			</div>
			<div class="roundSemiWrap bracketRightLine">
				<div class="winnersLine semifinals pull-right"></div>
				<div class="roundQuarterWrap bracketRightLine">
					<div class="winnersLine quarterfinals pull-right bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF2','SF1')">{{picks.QF2.name}}</span>
					</div>
					<div class="roundSweetWrap">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('C1','QF2')">{{picks.C1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap bracketRightLine">
					</div>
				</div>
				<div class="roundQuarterWrap">
					<div class="winnersLine quarterfinals pull-right"></div>
					<div class="roundSweetWrap bracketRightLine">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('D2','QF2')">{{picks.D2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap"></div>
				</div>
			</div>
		</div>
		<div class="roundFinalsWrap"> <!-- bottom left -->
			<div class="winnersLine finals pull-right"></div>
			<div class="roundSemiWrap">
				<div class="winnersLine semifinals pull-right bracketBottomLine bracketRightLine">
					<span class="teamDisplay" ng-click="selectWinner('SF2','FINALS1')">{{picks.SF2.name}}</span>
				</div>
				<div class="roundQuarterWrap">
					<div class="winnersLine quarterfinals pull-right bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF3','SF2')">{{picks.QF3.name}}</span>
					</div>
					<div class="roundSweetWrap">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('E1','QF3')">{{picks.E1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap bracketRightLine"></div>
				</div>
				<div class="roundQuarterWrap bracketRightLine">
					<div class="winnersLine quarterfinals pull-right"></div>
					<div class="roundSweetWrap bracketRightLine">
						<div class="winnersLine sweetsixteen bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('F2','QF3')">{{picks.F2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap"></div>
				</div>
			</div>
			<div class="roundSemiWrap">
			<div class="winnersLine semifinals pull-right"></div>
			<div class="roundQuarterWrap bracketRightLine">
				<div class="winnersLine quarterfinals pull-right bracketBottomLine">
					<span class="teamDisplay" ng-click="selectWinner('QF4','SF2')">{{picks.QF4.name}}</span>
				</div>
				<div class="roundSweetWrap">
					<div class="winnersLine sweetsixteen bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('G1','QF4')">{{picks.G1.name}}</span>
					</div>
				</div>
				<div class="roundSweetWrap bracketRightLine"></div>
			</div>
			<div class="roundQuarterWrap">
				<div class="winnersLine quarterfinals pull-right"></div>
				<div class="roundSweetWrap bracketRightLine">
					<div class="winnersLine sweetsixteen bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('H2','QF4')">{{picks.H2.name}}</span>
					</div>
				</div>
				<div class="roundSweetWrap"></div>
			</div>
		</div>
	</div>
	</div>
	<div class="champions pull-left text-center">
		<span class="arrow pointer" ng-click="bracketSwitch()">{{ indicator }}</span>
		<!--<i class="fa fa-chevron-{{indicator}}" ng-click="bracketSwitch()"></i>-->
	</div>
	<div class="bracketWrap pull-left text-center" ng-show="!bracketLeft">
		<ul class="roundDisplayWrap"> <!-- show the rounds up top -->
			<li class="roundDisplayItem" ng-repeat="round in rounds | reverse">{{round}}</li>
		</ul>
		<div class="roundFinalsWrap"> <!-- top right -->
			<div class="winnersLine finals pull-left bracketBottomLine">
				<span class="teamDisplay" ng-click="selectWinner('FINALS2', 'CHAMP')">{{picks.FINALS2.name}}</span>
			</div>
			<div class="roundSemiWrap pull-right">
				<div class="winnersLine semifinals pull-left bracketBottomLine">
					<span class="teamDisplay" ng-click="selectWinner('SF3', 'FINALS2')">{{picks.SF3.name}}</span>
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF5', 'SF3')">{{picks.QF5.name}}</span>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('B1','QF5')">{{picks.B1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right bracketLeftLine">
						<div class="winnersLine sweetsixteen pull-left"></div>
					</div>
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketLeftLine"></div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine bracketLeftLine">
							<span class="teamDisplay" ng-click="selectWinner('A2','QF5')">{{picks.A2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left"></div>
					</div>
				</div>
			</div>
			<div class="roundSemiWrap pull-right">
				<div class="winnersLine semifinals pull-left bracketLeftLine"></div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketLeftLine bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF6', 'SF3')">{{picks.QF6.name}}</span>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('D1','QF6')">{{picks.D1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right bracketLeftLine"></div>
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left"></div>
					<div class="roundSweetWrap pull-right bracketLeftLine">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('C2','QF6')">{{picks.C2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right"></div>
				</div>
			</div>
		</div>
		<div class="roundFinalsWrap"> <!-- bottom right -->
			<div class="winnersLine finals pull-left"></div>
			<div class="roundSemiWrap pull-right">
				<div class="winnersLine semifinals pull-left bracketLeftLine bracketBottomLine">
					<span class="teamDisplay" ng-click="selectWinner('SF4', 'FINALS2')">{{picks.SF4.name}}</span>
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketBottomLine">
						<span class="teamDisplay" ng-click="selectWinner('QF7', 'SF4')">{{picks.QF7.name}}</span>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('F1', 'QF7')">{{picks.F1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketLeftLine"></div>
					</div>
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketLeftLine"></div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketLeftLine bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('E2', 'QF7')">{{picks.E2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right"></div>
				</div>
			</div>
			<div class="roundSemiWrap pull-right">
				<div class="winnersLine semifinals pull-left"></div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left bracketBottomLine bracketLeftLine">
						<span class="teamDisplay" ng-click="selectWinner('QF8', 'SF4')">{{picks.QF8.name}}</span>
					</div>
					<div class="roundSweetWrap pull-right">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('H1', 'QF8')">{{picks.H1.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right bracketLeftLine">
					</div>					
				</div>
				<div class="roundQuarterWrap pull-right">
					<div class="winnersLine quarterfinals pull-left"></div>
					<div class="roundSweetWrap pull-right bracketLeftLine">
						<div class="winnersLine sweetsixteen pull-left bracketBottomLine">
							<span class="teamDisplay" ng-click="selectWinner('G2', 'QF8')">{{picks.G2.name}}</span>
						</div>
					</div>
					<div class="roundSweetWrap pull-right"></div>
				</div>
			</div>
		</div>
	</div>
</section>
















