/* resets */
html, body, ul, li {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* single tags*/
li {
	list-style: none;
}

img {
	width: 75px;
}

/* class definitions */
.pointer {
	cursor: pointer;
}

.container {
	margin-top: 55px;
}

#mainNav {

}

.pageTitle {
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
}

.pageDescription {
	font-size: .5em;
	font-style: italic;
	vertical-align: middle;
}

.koText {
	vertical-align: bottom;
}

.arrow {
	font-size: 10em;
	font-stretch: ultra-condensed;
}

/***** bracket styling *****/
.roundDisplayWrap {
	width: 800px;
}
.roundDisplayItem {
	width: 200px;
	display: inline-block;
}

.bracketWrap {
	width: 800px;
	height: 640px;
	display: inline-block;
}

.champions {
	width: 370px;
	height: 640px;
	line-height: 40em;
	display: inline-block;
}

.bracketBottomLine {
	border-bottom: 1px solid #000000;
}

.bracketLeftLine {
	border-left: 1px solid #000000;
}

.bracketRightLine {
	border-right: 1px solid #000000;
}

/* rounds */
.roundDisplayWrap {
	font-size: 1.3em;
}

.roundDisplayItem {

}

.roundFinalsWrap {
	height: 320px;
	width: 800px;
}

.roundSemiWrap {
	height: 160px;
	width: 600px;
}

.roundQuarterWrap {
	height: 80px;
	width: 400px;
}

.roundSweetWrap {
	height: 40px;
	width: 200px;
}

/* team display */
.winnersLine {
	height: inherit;
	width: 200px;
}

.sweetsixteen {
	line-height: 3em;
}

.quarterfinals {
	line-height: 8em;
}

.semifinals {
	line-height: 18em;
}

.finals {
	line-height: 38em;
}

.teamDisplay {
	font-size: 1.2em;
	cursor: pointer;
}
